#popup {
  background-color: #13171f;
}

.Main {
  display: grid;
  grid-template-columns: auto auto;
}
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-bottom: 5px;
}

.App-night-icon {
  height: 18vmin;
  pointer-events: none;
  margin-bottom: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-width: 100px;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.author_p {
  margin: 0px !important;
  padding: 5px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author {
  text-decoration: none;
  color: azure;
}
button:active {
  outline: none;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  outline: none;
}