.background_custom {
    color: whitesmoke;
    min-width: 250px;
    font-size: calc(10px + 2vmin);
    margin-right: 10px;
}

.tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #282c34;
}

.slider-tranparent-box {
    padding-right: 3px;
}

.tab-item {
    font-size: 13px;
    min-width: 30px;
    border: 1px solid white;
    padding: 4px 10px;
    cursor: pointer;
    min-width: 50px;
}

.tab-item.active {
    background-color: blue;
    color: white;
    transform: background-color 0.2s;
}


#active_btn {
    border-radius: 15px;
}

#active_btn.active {
    background-color: #00c0da;
}
